backports-abc==0.5
bleach==2.0.0
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
decorator==4.1.2
Django==2.0.3
entrypoints==0.2.3
html5lib==0.999999999
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
language-selector==0.1
MarkupSafe==1.0
mistune==0.7.4
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.0.0
pandocfilters==1.4.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycurl==7.19.3
Pygments==2.2.0
pygobject==3.12.0
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.1
pytz==2018.3
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.2.1
simplegeneric==0.8.1
six==1.5.2
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.2
