{% extends 'home/base.html' %}
{% block title %} Send Message {% endblock %}
{% block container %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="index">Dash</a>
  <a class="nav-item nav-link" href="calender">Calender</a>
  <a class="nav-item nav-link" href="createcommunicationdoctor">Send Message</a>
  <a class="nav-item nav-link" href="viewdocchat">View Chat</a>
</nav>
{% for conversation in conversations %}
{% if conversation.is_patient %}
{{conversation.patient.user.first_name}}
{% endif %}
{% if conversation.is_patient == False %}
{{conversation.doctor.user.first_name}}
{% endif %}
<div class="card">
  {{conversation.timestamp}} : {{conversation.message}}
</div>
{% endfor %}
{% endblock %}
