{% extends 'home/base.html' %}
{% block title %} Report Health Issue {% endblock %}
{% block container %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="index">Dash</a>
  <a class="nav-item nav-link" href="searchdoc">Doctor Search</a>
  <a class="nav-item nav-link" href="createappointment">Make Appointment</a>
  <a class="nav-item nav-link" href="createhealthinstance">Create Health Instance</a>
  <a class="nav-item nav-link" href="createcommunicationpatient">Send Message</a>
  <a class="nav-item nav-link" href="viewchat">View Chat</a>
  <a class="nav-item nav-link" href="seehealthrecords">Previous Health Records</a>
</nav>
<div class="card">
  <h1 style="text-align:center;">Report Health Issue</h1>
  <form style="padding:50px;margin-left:25%;" method='POST'>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Make</button>
  </form>
</div>
{% endblock %}
