{% extends 'home/base.html' %}
{% block title %}
PUDUI
{% endblock %}
{% block container %}
<div class="jumbotron" style='text-align:center'>
  <h1 class="display-4">PUDUI</h1>
  <p class="lead">Patient Union Doctor Union Insurance</p>
  <hr class="my-4">
  <p>We attempt to reunite the healthcare industry, we bring the major entities closer onto one convinent platform</p>
  <p class="lead">
  <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</p>
</div>
{% endblock %}
