{% extends 'home/base.html' %}
{% block title %}
PUDUI
{% endblock %}
{% block container %}
<div class="jumbotron" style='text-align:center;background-color:#047afd;padding-top:0;width:100%;padding-bottom:100px;color:white;'>
  <h1 class="display-4" style="padding-top:20px"><strong>P</strong>U<strong>D</strong>U<strong>I</strong></h1>
  <p class="lead">Patient Union Doctor Union Insurance</p>
  <hr class="my-4">
  <p>We attempt to reunite the healthcare industry, we bring the major entities closer onto one convinent platform</p>
  <p class="lead">
    <a style='text-align:right' class="btn btn-light btn-lg" href="/login" role="button">Login</a>
    <a style='text-align:right' class="btn btn-dark btn-lg" href="/signup" role="button">Sign Up</a>
</p>
</div>

<div class="row">
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;margin:0 40px;background-color:#047afd!important;">
    <div class="card-header">Save Money</div>
    <div class="card-body">
      <h5 class="card-title">Cheaper than regular doctors visits</h5>
      <p class="card-text">1 doctors visit can cost not only a lot of money, but a siginifant amount of time</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;margin:0 40px;background-color:#047afd!important;">
    <div class="card-header">Control Your Healthcare</div>
    <div class="card-body">
      <h5 class="card-title">You choose how much your insurance company controls you</h5>
      <p class="card-text">We give you the means to control how much data your healthcare provider sees about you</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;margin:0 40px;background-color:#047afd!important;">
    <div class="card-header">Convinent</div>
    <div class="card-body">
      <h5 class="card-title">Fast and easy communication with doctor</h5>
      <p class="card-text">Communication and prescription can be accomplished from the comfort of your own office</p>
    </div>
  </div>
</div>

{% endblock %}
