{% extends 'home/base.html' %}

{% block title %}
PUDUI HOME
{% endblock %}

{% block container %}
{% if type == 'patient' %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="index">Dash</a>
  <a class="nav-item nav-link" href="searchdoc">Doctor Search</a>
  <a class="nav-item nav-link" href="createappointment">Make Appointment</a>
  <a class="nav-item nav-link" href="createhealthinstance">Create Health Instance</a>
  <a class="nav-item nav-link" href="createcommunicationpatient">Send Message</a>
  <a class="nav-item nav-link" href="viewchat">View Chat</a>
  <a class="nav-item nav-link" href="seehealthrecords">Previous Health Records</a>
</nav>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome {{user.last_name}}, {{user.first_name}}</h5>
        <p class="card-text">This is your dash board, it is where you can manage your healthcare, find doctors, make appointments, control your insurance rate and much more</p>
        <a href="searchdoc" class="btn btn-primary">Find a doctor</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Prescriptions</h5>
        <div class="list-group">
          {% for prescription in prescriptions %}
          <a href="#" class="list-group-item list-group-item-action">{{prescription.name}} : {{prescription.dosage}}</a>
          {% endfor %}
        </div>
        <a href="createhealthinstance" class="btn btn-primary">Report a Health Issue</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if type == 'doctor' %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="index">Dash</a>
  <a class="nav-item nav-link" href="calender">Calender</a>
  <a class="nav-item nav-link" href="createcommunicationdoctor">Send Message</a>
  <a class="nav-item nav-link" href="viewchat">View Chat</a>
</nav>

{% endif %}

{% if type == 'insurance' %}
{% for patient in patients %}
{{patient.user.first_name}} {{patient.user.last_name}}
{% for doc in patient.doctor %}
{{doc.user.first_name}} {{doc.user.last_name}}
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}
